:host {
    background-image: url(../../../../../assets/background/login.jpg);
    align-items: center;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    background-position: top center;
}
mdb-card {
    min-width: 30vw;
    width: 200px;
    max-width: 90vw;
}
