<mdb-card>
    <mdb-card-body>
      <!-- Material form register -->
      <form [formGroup]="signIn">
        <p class="h4 text-center py-4">Login</p>
  
        <!-- Material input text -->
        <div class="md-form">
          <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
          <input type="text" id="email" formControlName="email" class="form-control" mdbInput>
          <label for="email" class="font-weight-light">Correo electronico</label>
        </div>
  
        <!-- Material input email -->
        <div class="md-form">
          <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
          <input type="password" id="password" formControlName="password" class="form-control" mdbInput>
          <label for="password" class="font-weight-light">Contraseña</label>
        </div>
  
  
        <div class="text-center py-4 mt-3">
          <button mdbBtn color="cyan" class="waves-light" type="submit" mdbWavesEffect>Register</button>
        </div>
      </form>
      <!-- Material form register -->
    </mdb-card-body>
  </mdb-card>