.app-sidebar{
  display: flex;
  align-items: center;
  justify-content: center;
  .app-sidebar-image{
    height: 100% !important;
    padding: 0 !important;
  }
}
::ng-deep{
  mdb-side-nav{
    ul{
      background-color: #121f40 !important;
    }
  }
  mdb-navbar{
    nav{
      background-color: #121f40 !important;
      color: white;
      line-height: 1;
    }
  }
  main{
    padding-top: 55px !important;
    height: 100vh;
  }
}
