<div class="view">
  <div class="full-bg-img">
    <div class="mask rgba-black-strong flex-center">
      <div class="container">
        <div class="white-text text-center wow fadeInUp">
          <h2>Titulo</h2>
          <br>
          <p>objetivo </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">

      <p align="justify">Introduccion</p>

    </div>
  </div>
</div>
